@import "../node_modules/bootstrap/scss/bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

// start nav
#nav-bg-color {
	background-color: rgba(10,4,101,0.8);
}

.nav-title {
	color: red;
	text-shadow: 2px 2px black;
}

// end nav



.container-fluid {
	padding: 0;
}

/*start banner */
.banner {
	/*background-color: skyblue;*/
	background-image: url("../images/banner-img2.jpg");
	/*background: linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80), url("../images/banner.jpeg");*/
	background-size: cover;
	height: 100vh;
	position: relative;
}

.banner-about {
	/*background-color: skyblue;*/
	background-image: url("../images/banner-img3.jpg");
	// background: linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80), url("../images/banner.jpeg");
	background-size: cover;
	height: 50vh;
	position: relative;
}

.box {
	border: 5px solid #fff;
	padding: 40px;
	width: 50%;
	background-color: rgba(0,0,0,0.25);
	/*opacity: 0.25;*/
	position: absolute;
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%); /*x and y values*/
}

.box-about {
	// border: 5px solid #fff;
	padding: 40px;
	width: 50%;
	// background-color: rgba(0,0,0,0.25);
	/*opacity: 0.25;*/
	position: absolute;
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%); /*x and y values*/
}

.down {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,1);
	padding: 10px 50px;
	border-radius: 10px;
	box-shadow: 2px 2px red;
}

.down a {
	text-decoration: none;
	color: #333;
}

h1 {
	letter-spacing: 2px;
	margin-bottom: 10px;
	color: #333;
	background-color: rgba(255,255,255,.75);
	padding: 10px;
	// border-radius: 10px;
	text-align: center;
	font-size: 60px;
	// border: 2px solid black;
}

.box > p {
	font-size: 20px;
	background-color: rgba(0,0,0,.75);
	text-align: center;
	color: white;
}
/*end banner */


.con-padding-top {
	height: 100vh;
	padding-top: 100px;
	overflow: hidden;
}

.banner-info {
	color: white;
	opacity: 0.9;
	padding: 50px;
	font-size: 30px;
}

#col-custom-design-gallery {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
	border: 5px solid rgba(255,255,255,0.5);
}

.card-custom {
	margin-top: 20px;
	padding-top: 10px;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 5px 5px lightgray;
}

#img-set {
	height: 250px;
	width: 100%;
}


#about-content {
	background-image: url("../assets/images/banner-pic.jpg");
}

.p-banner {
 	position: absolute;
	top: -20px;
	right: 50;
	width: 200px;
	height: 100px;
	border: 3px solid #73AD21;
}

.google-maps {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.carousel-inner {
	border-radius: 0;
}






.footer {
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(111, 111, 201);
	color: white;

}


@media only screen and (max-width: 400px) {


	.nav {
		display: none;
	}

	.box {
		width: 75%;
	}

	h1 {
		font-size: 12px;
	}

	.box > p {
		font-size: 12px;
	}

	.box-about {
		padding: 2px;
		height: auto;
	}


	.down {
		padding:5px 15px;
		font-size: 12px;
		border-radius: 5px;
	}

	.nav,
	.banner,
	.register,
	.services,
	.gallery,
	.footer {
		padding: 15px;
	}
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	.nav {
		display: none;
	}

	.box {
		width: 70%;
	}

	.box-about {
		width: 70%;
	}

	h1 {
		font: 5px;
	}

	.container {
		margin-left: 0;
	}
}













